.about-box {
    padding-top: calc(2rem + 100px);

    @include media-breakpoint-down(sm) {
        padding-top: 80px;
    }
}

.headshot {
    max-width: 18rem;
    max-height: 18rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

.about-title {
    // when it stacks into one column, add padding so it isn't touching picture
    @include media-breakpoint-down(sm) {
        padding-top: .8rem;
    }
}

.about-text {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.resume-title {
    padding-left: 0px;
    padding-bottom: -1rem;
    color: $secondary;
    font-size: 1.15em;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
}

.resume-company {
    margin-top: -.5rem;
    padding-left: 0px;
    font-weight: 700;
}

.resume-school {
    margin-top: -1.1rem;
    padding-left: 0px;
    font-weight: 700;
}

.resume-time {
    margin-top: -1.1rem;
    padding-left: 0px;
    font-style: italic;
    font-weight: 600;
}

.resume-details {
    margin-top: -1rem;
    padding-bottom: 1rem;
}