.about-box {
    padding-top: calc(2rem + 100px);

    @include media-breakpoint-down(sm) {
        padding-top: 80px;
    }
}

.headshot {
    max-width: 18rem;
    max-height: 18rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

.about-title {
    // when it stacks into one column, add padding so it isn't touching picture
    @include media-breakpoint-down(sm) {
        padding-top: .8rem;
    }
}

.about-text {
    padding-top: .3rem;
    padding-bottom: .3rem;
}