
.connect-ways {
    padding-top: 1rem;    
}

.icon-combo {
    display:flex;
    justify-items: left;
    align-items: center;
    padding-bottom: 1rem;
}

.connect-icons {
    margin-right: .2rem;
    color: $cyan;
}

.links {
    color: $cyan;
    font-weight: 600;
    white-space: nowrap;
}

.links:hover {
    color: $secondary
}