.cyan-filter {
    filter: invert(30%) sepia(70%) saturate(491%) hue-rotate(148deg) brightness(97%) contrast(92%);
}

.blue-filter {
    filter: invert(68%) sepia(8%) saturate(3400%) hue-rotate(176deg) brightness(104%) contrast(103%);
}

.skills-icon {
    max-width: 7rem;
}