.work-box {
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.image-box {
    display: flex;
    justify-content: center;
}
.work-images {
    max-width: 18rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.work-header {
    padding-bottom: 1em;

     // when it stacks into one column, remove padding so there is less white
    //  space while scrolling
     @include media-breakpoint-down(sm) {
        padding-bottom: 0rem;
    }
}

.project-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-title {
    font-size: larger;
    // when it stacks into one column, add padding so it isn't touching picture
    @include media-breakpoint-down(sm) {
        padding-top: 1.2rem;
        font-size: large;
    }
}

.tech {
    font-size: smaller;
}